<div class="container-fluid header">
  <div class="row-fluid">
    <div class="span12">
      <div class="navbar">
        <div class="navbar-inner">
          <div class="container">

	    <a href="/"><img src="/img/sitespeed-logo-one-row.gif" class="logo" width="135" height="60" alt="sitespeed.io"/></a>
            <div class="nav-collapse">
              <ul class="nav">
		 <li class="divider-vertical"></li>
                <li {% if page.nav == 'start' %}class="active" {% endif %}>
                  <a href="/">Start</a>
                </li>
                <li class="divider-vertical"></li>
                <li {% if page.nav == 'documentation' %}class="active" {% endif %}>
                  <a href="/documentation/">Documentation</a>
                </li>
                <li class="divider-vertical"></li>
                <li {% if page.nav == 'rules' %}class="active" {% endif %}>
                  <a href="/rules/">Rules</a>
                </li>
		<li class="divider-vertical"></li>
                <li {% if page.nav == 'examples' %}class="active" {% endif %}>
                  <a href="/example/">Examples</a>
                </li>
		 <li class="divider-vertical"></li>
                <li {% if page.nav == 'faq' %}class="active" {% endif %}>
                  <a href="/faq/">FAQ</a>
                </li>
                <li class="divider-vertical"></li>
                <li {% if page.nav == 'wpo-tools' %}class="active" {% endif %}>
                  <a href="/wpo-tools/">WPO tools</a>
                </li>
                <li class="divider-vertical"></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="visible-desktop">
  <a href="https://github.com/soulgalore/sitespeed.io">
    <img style="position: absolute; top: 0; right: 0; border: 0;" src="/img/forkme_right_green_007200.png" alt="Fork me on GitHub"></a>
</div>
